<header class="header header--position">
  <div class="container header__container flex">
    <p class="header__title">haydeesports</p>
    <div class="header__nav">
      <ul class="list-reset header__list flex">
        <li class="header__item">
          <a href="#" class="header__link"> About </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link"> Contact </a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link"> News </a>
        </li>
      </ul>
    </div>
    <div class="header__program">
      <button class="btn-reset btn header__program-btn">Today's plan</button>
    </div>
  </div>
</header>
