<section id="modalWindow" class="modal graph-modal">
  <div
    class="graph-modal__container container modal--position modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="second"
  >
    <div class="graph-modal__content">
      <div class="modal__header flex">
        <button class="btn btn-reset modal__search">
          <img
            class="modal__icon"
            src="../img/svg/search.svg"
            width="25"
            height="25"
            alt=""
          />
        </button>
        <button class="btn btn-reset modal__close js-modal-close">
          <img
            class="modal__icon"
            src="../img/svg/close.svg"
            width="30"
            height="30"
            alt=""
          />
        </button>
      </div>
      <div class="modal__person">
        <div class="modal__person-container flex">
          <div class="modal__person-info flex">
            <div class="modal__person-name">Erica Lowrence Workouts</div>
            <div class="modal__person-period">3-4 days</div>
          </div>
          <h1 class="modal__person-title">Legs Timeline</h1>
        </div>
        <div class="modal__program flex">
          <div class="modal__list flex">
            <div class="modal__item-header">
              <p class="modal__item-title-top">First Day</p>
              <h2 class="modal__item-title">Squats Program</h2>
            </div>
            <div class="modal__groups flex">
              <div class="modal__groups-list__left">
                <ul class="modal__groups-list list-reset flex">
                  <li class="modal__groups-list__item">Maximum Squats</li>
                  <li class="modal__groups-list__item">Smith Squats x 20</li>
                  <li class="modal__groups-list__item">
                    No Weight Squats x 70
                  </li>
                </ul>
              </div>
              <div class="modal__groups-list__right">
                <ul class="modal__groups-list list-reset flex">
                  <li class="modal__groups-list__item">Maximum Squats</li>
                  <li class="modal__groups-list__item">Smith Squats x 70</li>
                  <li class="modal__groups-list__item">Wall Squats x 100</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal__list flex">
            <div class="modal__item-header">
              <p class="modal__item-title-top">Second Day</p>
              <h2 class="modal__item-title">Shin Program</h2>
            </div>
            <div class="modal__groups flex">
              <div class="modal__groups-list__left">
                <ul class="modal__groups-list list-reset flex">
                  <li class="modal__groups-list__item">Calf Raise x 50</li>
                  <li class="modal__groups-list__item">Lange x 40</li>
                  <li class="modal__groups-list__item">Clam Lifts x 70</li>
                </ul>
              </div>
              <div class="modal__groups-list__right">
                <ul class="modal__groups-list list-reset flex">
                  <li class="modal__groups-list__item">Maximum Calfs</li>
                  <li class="modal__groups-list__item">Step Ups x 100</li>
                  <li class="modal__groups-list__item">Step Ups Max</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
