<section class="social">
  <ul class="social__list list-reset flex">
    <li class="social__item">
      <a href="#" class="social__link">
        <img class="social__icon" src="../img/svg/instagram.svg" width="29" height="29" alt="">
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link">
        <img class="social__icon" src="../img/svg/twitter.svg" width="25" height="25" alt="">
      </a>
    </li>
    <li class="social__item">
      <a href="#" class="social__link">
        <img class="social__icon" src="../img/svg/facebook.svg" width="25" height="25" alt="">
      </a>
    </li>
  </ul>
</section>
